    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-7 col-lg-offset-2">
                  <ul>
                    <h2><i>Interests</i></h2>
                    <p>Robotics</p>
                    <p>Artificial Intelligence</p>
                    <p>Human Computer Interaction</p>
                    <p>Front End Web Development incl. UI/UX</p>
                    <p>Graphic Design</p>
                    <p>Open Source Technologies</p>
                  </ul>
                </div>
            </div>
        </div>
    </section>
